/*FONTS*/


/*ANIMATIONS*/

@keyframes navright {
    from {
      left: 50%;
      margin-left: -120px;
      width: 240px;
    }

    to {
      left: 100%;
      margin-left: -150px;
      width: 150px;
    }
}

@keyframes navleft {
    from {
      left: 50%;
      margin-left: -120px;
      width: 240px;
    }

    to {
      margin-left: 0px !important;
      left: 0% !important;
      width: 150px;
    }
}

@keyframes pageexpandleft {
    from {
      margin-top: 7%;
      margin-left: 10%;
      width: 45%;
      height: 80%;
    }

    to {
      margin: 0px !important;
      width: 100% !important;
      height: 100% !important;
    }
}

@keyframes pageexpandright {
    from {
      margin-top: 7%;
      margin-left: 45%;
      width: 45%;
      height: 80%;
    }

    to {
      margin: 0px !important;
      width: 100% !important;
      height: 100% !important;
    }
}

@keyframes logoslide {
    from {
      margin-top: 50px;
    }

    to {
      margin-top: 45vh !important;
    }
}

/*NAV*/

.outer {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
}

.nav-bar {
  position: relative;
  z-index: 4;
  height: 100vh;
  width: 240px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
  margin-left: -120px;
  left: 50%;
  transition: all, 0.7s, ease-in-out;
}

.nav-right {
  animation: navright .7s 0s 1;
  left: 100%;
  margin-left: -150px;
  width: 150px;
}

.nav-left {
  animation: navleft .7s 0s 1;
  margin-left: 0px !important;
  left: 0% !important;
  width: 150px;
}

.nav-bar-img {
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all, 0.7s, ease-in-out;
}

.nav-bar-img-center {
  animation: logoslide 0.7s 0s 1;
  margin-top: 45vh !important;
}

.nav-bar-img:hover {
  cursor: pointer;
}

.nav-page-link p {
  margin-bottom: 20px;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}

.nav-page-link p:hover {
  cursor: pointer;
}


/*BODY*/

.base {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0px
}

.base-expand {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

.base-nav {
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.4);
}


.page-expand-left {
  animation: pageexpandleft 0.7s 0s 1;
  margin: 0px !important;
  z-index: 4 !important;
  width: 100% !important;
  height: 100% !important;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0) !important;
}

.page-expand-right {
  animation: pageexpandright 0.7s 0s 1;
  margin: 0px !important;
  z-index: 4 !important;
  width: 100% !important;
  height: 100% !important;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0) !important;
}

/*PAGE 1*/
#page-1 {
  background: url("../img/page1img.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  margin-top: 7%;
  margin-left: 10%;
  width: 45%;
  height: 80%;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
  transition: all, 0.7s, ease-in-out;
}

#page-1 .nav-text {
  color: white;
  font-size: 15px;
}

#page-1 .page-logo {
  margin-top: 10px;
  margin-left: 15px;
  width: 50px;
}


/*PAGE 2*/
#page-2 {
  background: url("../img/page2img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: 12.5%;
  margin-left: 5%;
  width: 45%;
  height: 60%;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
  transition: all, 0.7s, ease-in-out;
}

#page-2 .nav-text {
  color: white;
  font-size: 15px;
}

#page-2 .page-logo {
  margin-top: 10px;
  margin-left: 15px;
  width: 50px;
}


/*PAGE 3*/
#page-3 {
  background: url("../img/page3img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  margin-top: 7%;
  margin-left: 45%;
  width: 45%;
  height: 80%;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
  transition: all, 0.7s, ease-in-out;
}

#page-3 .nav-text {
  color: white;
  font-size: 15px;
  float: right;
}

#page-3 .page-logo {
  margin-top: 10px;
  margin-right: 15px;
  width: 50px;
  float: right;
}

/*PAGE 4*/
#page-4 {
  background: url("../img/page4img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: 12.5%;
  margin-left: 50%;
  width: 45%;
  height: 60%;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.9);
  transition: all, 0.7s, ease-in-out;
}

#page-4 .nav-text {
  color: white;
  font-size: 15px;
  float: right;
}

#page-4 .page-logo {
  margin-top: 10px;
  margin-right: 15px;
  width: 50px;
  float: right;
}
